# Default settings for docker-compose
# @see https://docs.docker.com/compose/reference/envvars/#compose_file
COMPOSE_PROJECT_NAME=
COMPOSE_NETWORK_NAME=
COMPOSE_FILE=docker-compose.yml
COMPOSE_CONVERT_WINDOWS_PATHS=0

# build
PHP_VERSION=8.0
NODE_VERSION=17.2.0
CLI_VERSION=4.5.15
TIMEZONE=UTC

# application
APP_USER=www-data
APP_GROUP=www-data
APP_USER_ID=1000
APP_GROUP_ID=1000
APP_CODE_PATH_HOST=../
APP_CODE_PATH_CONTAINER=/var/www/html
APP_KEY_PATH_HOST=~/keys
APP_KEY_PATH_CONTAINER=/var/www/keys
APP_CERT_PATH_HOST=~/certs
APP_CERT_PATH_CONTAINER=/var/www/certs
APP_CERT_NAME=oilstone.dev.crt
APP_CERT_KEY_NAME=oilstone.dev.key
APP_CERT_DHPARAM_NAME=dhparam.pem
APP_CACHE_PATH_CONTAINER=/var/www/cache
APP_LOG_PATH_CONTAINER=/var/logs/app

# required so we can reach the nginx server from other containers via that hostname
APP_HOST=

# nginx
NGINX_VERSION=1.20
NGINX_HTTPS_PORT_HOST=
NGINX_HTTP_PORT_HOST=

# workspace
WORKSPACE_SSH_PORT_HOST=

# vue-app
VUE_CLI_PORT_HOST=14003
VUE_CLI_HOST=
